%header.header
  %nav#headerNav.overlay
    %a.closebtn{href: 'javascript:void(0)', "@click":'closeNav'} &times;

    .overlay-content
      = link_to 'Login', '#'
      = link_to 'History', "#"
      = link_to 'All Videos', "#", {remote: true, "@click":"openModal('modalAllVideos')"}
      = link_to 'Add Video', '#', {remote: true, "@click":"openModal('modalForm')"}
  %span{'@click':'openNav'}=  image_tag('logo.png', size:'70x70')
= render partial: 'share/modal'
