#modalForm.modal
  .modal-content
    %span.close{"@click": "closeModal('modalForm')", title: "Close Modal"} ×
    = form_with(model: setup_video(@video), local: true, class: "modal-content animate") do |form|
      .container
        .field
          %b= form.label :title
          = form.text_field :title, placeholder: "Enter Title"
        .field
          %b= form.label :url
          = form.text_field :url, placeholder: "Enter Video Url"
        = form.fields_for :subtitle do |f|
          .field
            = f.label :upload_file
            = f.file_field :upload_file

        %button{:type => "submit"} Add Video
#modalAllVideos.modal
  .modal-content
    %span.close{"@click": "closeModal('modalAllVideos')", title: "Close Modal"} ×
    .container
      %h3 All videos
      = render 'videos/videos'
