%aside.sidebar.grid
  .sidepanel#sidePanel
    %a.closebtn{:href => "javascript:void(0)", "@click": "closeSidebar"} &times;
    %h2 Your last videos
    %ul
      %li.sidebar-item{"v-for": "(video, index) in videos_list"}
        %p{"@click":"changeVideofromSidebar(video.url)"} {{video.title}}
        %span
          %button{"@click": "removeVideo(index)"} &times;
  %button.openbtn{"@click": "openSidebar"} &#9776;
