.video_player_box
  %video#videoElement{"controls":"",
      "@canplay":"updatePaused", "@playing":"updatePaused", "@pause":"updatePaused",
      ":src": "url"}
    %p Sorry, there's a problem playing this video. Please try using a different browser.

  .video_player__form
    %input.form__url_title{"v-model": "url_title", type: "text", placeholder: "Video url title"}
    %input.form__url{"v-model": "url", type: "text", placeholder: "Video url"}
    %input.form__subtitle{"@change": "loadSubtitle($event)", type: "file", placeholder: "Video subtitle"}
    %input.form_submit{"@click":"addVideo", type: "submit", value: "Add video to sidebar"}
