= form_with(model: setup_video(video), local: true) do |form|
  - if video.errors.any?
    #error_explanation
      %h2
        = pluralize(video.errors.count, "error")
        prohibited this video from being saved:
      %ul
        - video.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :url
    = form.text_field :url
  = form.fields_for :subtitle do |f|
    .field
      = f.label :upload_file
      = f.file_field :upload_file

  .actions
    = form.submit
