%div{'v-for': '(video, index) in videos'}
  .container{'v-bind:id': "'videoId-'+ video.id" }
    %p{ "@click": 'changeVideofromModal(video.url)' } {{ video.title }}
    %p {{ video.url }}
    %p {{ video.stoptime }}
    %p
      <a :href="'videos/' + video.id + '/edit'" class='btn btn-default'>  Edit </a>
      %span{'@click':"deleteVideo(video.id)", class: 'btn btn-danger'} Destroy
  %hr
