%p#notice= notice
%p
  %strong Title:
  = @video.title
%p
  %strong Url:
  = @video.url
%p
  %strong Stoptime:
  = @video.stoptime
- if @video.subtitle.present?
  %p
    = link_to @video.subtitle_upload_file.filename, rails_blob_path( @video.subtitle_upload_file, disposition: 'attachment')
= link_to 'Edit', edit_video_path(@video)
|
= link_to 'Back', videos_path
