.btn
  font-size: 14px
  padding: 6px 12px
  margin-bottom: 0
  display: inline-block
  text-decoration: none
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: .25rem

  &:focus, &:active:focus
    outline: thin dotted
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px

  &:hover, &:focus
    color: #333
    text-decoration: none

  &:active
    background-image: none
    outline: 0
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)

/* default
 *----------------------------

.btn-default
  color: #333
  background-color: #fff
  border-color: #ccc

  &:focus
    color: #333
    background-color: #e6e6e6
    border-color: #8c8c8c

  &:hover, &:active
    color: #333
    background-color: #e6e6e6
    border-color: #adadad

.btn-danger
  color: #fff
  background-color: #dc3545
  border-color: #dc3545

  &:focus
    background-color: #e6e6e6
    border-color: #8c8c8c

  &:hover, &:active
    background-color: #e6e6e6
    border-color: #adadad
