/* The Modal (background)

.modal
  display: none
  margin: 20px auto
  /* Hidden by default
  position: absolute

  /* Stay in place
  z-index: 1000

  /* Sit on top
  top: 0
  left: 10%
  width: 100%

  /* Enable scroll if needed
  background-color: rgb(0, 0, 0)

  /* Fallback color
  background-color: rgba(0, 0, 0, 0.4)

  /* Black w/ opacity

/* Modal Content/Box

.modal-content
  background-color: #fefefe
  padding: 20px
  width: 80%

  /* Could be more or less, depending on screen size

/* The Close Button

.close
  color: #aaa
  float: right
  font-size: 28px
  font-weight: bold

  &:hover, &:focus
    color: black
    text-decoration: none
    cursor: pointers
