a
  text-decoration: none

ul, li
  list-style-type: none
  margin: 0
  padding: 0

body
  background-color: #131313
  font-family: DejaVu Sans Mono, monospace
  font-size: 12px


.grid
  display: grid

.container
  grid-template-rows: auto
  grid-template-columns: repeat(4, 1fr)

.header
  min-height: 70px
  grid-column: 1 / 5
  text-align: center
  justify-content: center
  margin-bottom: 50px

.overlay
  /* Height & width depends on how you want to reveal the overlay (see JS below)
  height: 0%
  width: 100%
  position: fixed

  /* Stay in place
  z-index: 100

  /* Sit on top
  left: 0
  top: 0
  background-color: rgb(0, 0, 0)
  background-color: rgba(0, 0, 0, 0.9)
  overflow-x: hidden
  transition: 0.5s

/* Position the content inside the overlay

.overlay-content
  position: relative
  top: 25%
  width: 100%
  text-align: center
  margin-top: 30px

/* The navigation links inside the overlay
.overlay
  a
    padding: 8px
    text-decoration: none
    font-size: 36px
    color: #818181
    display: block

    /* Display block instead of inline
    transition: 0.3s

    /* Transition effects on hover (color)

    &:hover, &:focus
      color: #f1f1f1

  .closebtn
    position: absolute
    top: 20px
    right: 45px
    font-size: 60px

/*MAIN*/
.main
  grid-column: 1 / 4

.video_player_box
  margin-left: 30px
  &:active, &:focus
    border: none

#videoElement
  min-height: 600px
  max-height: 800px
  height: auto
  width: 100%

/*FORM*/
.video_player__form
  input
    cursor: pointer
  input[type=text], textarea
    padding: 12px 20px
    border: 1px solid #3e3e93
    border-radius: 4px
    box-sizing: border-box
  input[type=submit], button
    background-color: #3e3e93
    color: #FFF
    padding: 12px 20px
    border: none
    border-radius: 4px
  input[type="file" i]
    color: #FFF
  .form__subtitle + label
    color: #FFF

/*SIDEBAR*/
.sidebar
  grid-column: 4
  grid-template-columns: 3fr 1fr
  justify-content: end
  &-item
    font-size: 16px
    padding:  20px
    transition: font-size .5s
    cursor: pointer
  &-item:hover
    font-size: 18px

.sidepanel
  grid-column: 1/3
  justify-self: stretch
  min-height: 600px
  max-height: 600px
  height: auto
  width: 0
  position: relative
  z-index: 1
  right: 0
  overflow-x: hidden

  background-color: #044f54
  transition: 0.5s
  h2
    padding: 10px
    text-align: center
    margin-top: 15px
    color: #dcdfe9

.sidebar .openbtn
  grid-column: 4
  height: 600px
  font-size: 20px
  cursor: pointer
  background-color: #111
  color: white
  padding: 10px 15px
  border: none

  &:hover
    background-color: #444

.sidepanel .closebtn
  position: absolute
  top: 0
  right: 25px
  font-size: 36px
  margin-left: 50px

/* FOOTER */
.footer
  align-content: end
  text-align: center
  margin-top: 50px
  padding: 25px 40px
  grid-column: 1 / 5
