!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MovieApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'vue_app'

  %body
    #vue-content.container.grid
      = render partial: "share/header"
      %main.main.grid
        = yield
      = render partial: "share/sidebar"
      = render partial: "share/footer"
